<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="../../Content/Stylesheets/main.css" rel="stylesheet" type="text/css" />  
    <link href="../../Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../img/favicon.ico"/>
    <script type="text/ecmascript" src="../../Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/ecmascript" src="../../Scripts/jquery-ui-1.8.11.min.js"></script>
    <script type="text/javascript" src="../../Scripts/free-jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/ecmascript" src="../../Scripts/free-jqGrid/jquery.jqGrid.min.js"></script> 
    <script type="text/ecmascript" src="../../Scripts/jquery.jexcel.js"></script>
    <link href="../../Content/Stylesheets/jquery.jexcel.min.css" rel="stylesheet" type="text/css" />  
    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
